<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".\Resources\CSS\estilos.css">

</head>
<body>
    <main class="main-container">
        <div class="main-content-header"><h1>Moonee tools database</h1></div>
        
            <div class="subtitle-container"><p>Moon SDK <span id="label" class="green-label">growth</span><span class="pink-label">growth</span></p>
            </div>
            <div class="descrip-container">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque amet et magnam corporis eos exercitationem error dolorem temporibus labore ex, suscipit illum ad vero, corrupti aliquid laudantium ducimus nobis totam doloremque ipsa explicabo voluptatibus aut. Aspernatur, fugiat iste provident reiciendis perspiciatis dolorem rerum quos ad expedita doloremque vero quidem obcaecati voluptates perferendis ea eos architecto sapiente necessitatibus distinctio cupiditate accusamus quia voluptate. </p>
            </div>
            <div class="number-container">
                <p class="number-title">Data point</p>
                <p class="number">1000</p>
            </div>
            <div class="action-container">
                <button id="btn" type="button">Submit Game</button>
            </div>
    </main>
    <script src="./Resources/JS/logica.js"></script>
</body>
</html>