header{background-color: black;
color: white;
padding: 0px 25px 0px 25px;}

.puntoVerde{
    color: green;
}

.navDescripcion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.navP{
    font-size:x-small;
    font-family: Arial, Helvetica, sans-serif;
}

.navTab{
    width: 100%;
}